.App {
  display: flex;
  padding: 30px;
  text-align: center;
  background-color: black;
}

.App > div {
  margin-right: 50px;
}


.todolist {
  border: 1px solid grey;
  border-radius: 13px;
  background-color: #fff4f4;
  padding: 15px;
  margin: 15px;
}

.error {
  color:red;
}

.input-error {
  border: 1px solid red;
}

.active-filter {
  background-color: aquamarine;
}

.isDone {
  opacity: 0.5;
}

/*.li {*/
/*  display: inline-block;*/
/*}*/